<h1 class="text-danger">403 - {{t 'error.forbidden'}}</h1>
{{#if error}}
  <div class="alert alert-danger mt-3">{{error}}</div>
{{/if}}

<a href="javascript:history.back()" class="btn btn-secondary mt-3">{{t 'common.back'}}</a>
