{{! views/404.hbs }}
<div class="container mt-5">
  <h1 class="text-danger">404 - {{t 'error.404'}}</h1>
  <p>{{t 'error.pageNotFound'}}</p>
  <a href="/" class="btn btn-primary">{{t 'common.backToHome'}}</a>
</div>

