<h2>User Detail</h2>
<ul>
  <li><strong>Name:</strong> {{user.name}}</li>
  <li><strong>Email:</strong> {{user.email}}</li>
  <li><strong>Phone:</strong> {{user.phone}}</li>
  <li><strong>Avatar:</strong> <img src="{{user.avatar}}" style="width: 50px;"></li>
</ul>
